#### 1 Dependencies

In [1]:
import pandas as pd

#### 2. Loading Dataframe

In [2]:
filter_columns =  [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]

bootcamp = pd.read_csv('resources/2016-FCC-New-Coders-Survey-Data.csv', usecols=filter_columns)

bootcamp.head(3)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN

#### 3. DataFrame analysis

In [3]:
bootcamp.shape

(15620, 21)

In [4]:
bootcamp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15620 entries, 0 to 15619
Data columns (total 21 columns):
Age                     13613 non-null float64
AttendedBootcamp        15380 non-null float64
BootcampFinish          933 non-null float64
BootcampFullJobAfter    635 non-null float64
BootcampLoanYesNo       934 non-null float64
BootcampName            895 non-null object
BootcampPostSalary      330 non-null float64
BootcampRecommend       937 non-null float64
ChildrenNumber          2554 non-null float64
CityPopulation          13630 non-null object
CodeEventBootcamp       42 non-null float64
CountryLive             13610 non-null object
EmploymentField         7608 non-null object
EmploymentStatus        12904 non-null object
Gender                  13746 non-null object
HasChildren             4012 non-null float64
HoursLearning           14942 non-null float64
Income                  7329 non-null float64
JobRoleInterest         6503 non-null object
SchoolDegree            13679 non-null object
SchoolMajor             8450 non-null object
dtypes: float64(12), object(9)
memory usage: 2.5+ MB

#### 4. Replace values

In [5]:
bootcamp.replace(to_replace = 0.0, value='No', inplace=True)
bootcamp.replace(to_replace = 1.0, value='Yes', inplace=True)

#### 5. Filter by attendents

In [6]:
cond = bootcamp['AttendedBootcamp'] == 'Yes'

attended = bootcamp[['BootcampName', 'AttendedBootcamp']][cond].groupby(by='BootcampName', as_index=True).count()

attended.head(3)

                AttendedBootcamp
BootcampName
10x.org.il                     5
4Geeks Academy                 8
AcadGild                       2

In [7]:
cond = bootcamp['BootcampRecommend'] == 'Yes'

recommended = bootcamp[['BootcampName', 'BootcampRecommend']][cond].groupby(by='BootcampName', as_index=True).count()

recommended.head(3)

                BootcampRecommend
BootcampName
10x.org.il                      3
4Geeks Academy                  4
AcadGild                        2

### 6. Merge Dataframes

In [8]:
bootcamp_summary = pd.merge(left=attended, right=recommended, how='left', on='BootcampName')
bootcamp_summary['% Recommend'] = (bootcamp_summary['BootcampRecommend'] / bootcamp_summary['AttendedBootcamp']) * 100

bootcamp_summary.fillna(value=0, inplace=True)

bootcamp_summary.sort_values(by='% Recommend', ascending=False, inplace=True)

bootcamp_summary.rename(columns = {'AttendedBootcamp': 'Count', 'BootcampRecommend' : 'Recommenders'}, inplace=True )
bootcamp_summary['Recommenders'] = bootcamp_summary['Recommenders'].astype(int)
bootcamp_summary['% Recommend'] = bootcamp_summary['% Recommend'].map("{:,.2f}%".format)

bootcamp_summary.head(5)

                      Count  Recommenders % Recommend
BootcampName
Stackademy                1             1     100.00%
Dev League                3             3     100.00%
Grace Hopper Academy      3             3     100.00%
Telegraph Academy         2             2     100.00%
Code Institute            1             1     100.00%

#### 7. Export file to Excel

In [9]:
bootcamp_summary.reset_index(inplace=True)

bootcamp_summary.to_excel('output/bootcamp_summary.xlsx',index=False)